body {
    margin: 0;
    background-color: #ffbbd1;
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style: normal;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 15px;
    background-color: #ffdfe9;
    border-bottom: solid 1px brown;
    height: 9vh;
}

header .logo img {
    height: 8vh;
}



header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

header nav ul li {
    margin-left: 20px;
    display: flex;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-style: normal;
}

header nav ul li a {
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: brown;
    background-color: #ffafc8;
    opacity: 0.8;
}

header nav ul li a:hover {
    opacity: 1;
}

header .navi.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: 9vh;
    left: 0;
    background-color: #ffdfe9;
}

.bg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 50px 40px;
    background-color: #ffdfe9;
    height: 60vh;
}

.bg .backgroundblock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffafc8, #FF69B4);
    z-index: -1;
}

.bg .profileimage {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    margin-bottom: 20px;
    grid-row: 2;
    justify-self: center;
}

.profileimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.text {
    max-width: 800px;
    z-index: 1;
    color: brown;
    grid-row: 3;
    justify-self: center;
    text-align: center;
}

.text h1 {
    font-size: 40px;
    letter-spacing: 3px;
    margin: 0;
    font-weight: 800;
}

.text p {
    font-size: 20px;
    margin-bottom: 15px;
}

.btncon {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: brown;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    background-color: white;
}

.btn:hover {
    opacity: 1;
}

footer {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    gap: 10px;
    background-color: #ffbbd1;
    padding: 20px 0;
}

.fa {
    font-size: 80px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 1;
}

.fa-facebook, .fa-instagram, .fa-linkedin, .fa-github, .fa-twitter {
    color: white;
}


.formpage {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    padding: 20px;
    min-height: 60vh;
}

h1 {
    color: brown;
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    color: brown;
}

textarea {
    height: 150px;
}

#contact-form {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-top:3%;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 1%;
    background-color: #ffdfe9;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding-right: 4%;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    height: auto;
    padding-right: 10px;
}

#contact-form button {
    padding:2%;
    background-color: hotpink;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    opacity:0.8 ;
    display: flex;
    justify-content: center;
}



#contact-form button:hover {
    opacity: 1;
}


.pro figcaption{
    color: brown;
    display: flex;
    justify-content: center;

}
.pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 90%;
    max-width: 1200px;
}

.pro{
    opacity: 1;

}

.pro:hover {
    opacity: 0.8;

}

.site img {
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
}
.site figcaption{
    color: brown;
    display: flex;
    justify-content: center;

}
.validity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 90%;
    max-width: 1200px;
}

.site{
    opacity: 1;

}

.site:hover {
    opacity: 0.8;

}

.site img {
    width: 400px;
    height: 300px;
    display: block;
    margin: 0 auto;
}



@media (max-width: 1200px) {
    .pictures {
        grid-template-columns: repeat(2, 1fr);
    }
    .validity{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .pictures {
        grid-template-columns: repeat(1, 1fr);
    }
    .validity{
        grid-template-columns: repeat(1, 1fr)
}

@media (max-width: 600px) {
    .pictures {
        grid-template-columns: 1fr;
    }
    .validity {
        grid-template-columns: 1fr;
    }
}

label {
    color: brown;
}
.site {
    padding: 20px;
}

.sitereport h1 {
    text-align: center;
}

.sitetext {
    color: brown;
    font-family: sans-serif;
    text-align: center;
    margin: 2%;
}

.sitetext p {
    font-family: sans-serif;
    color: brown;
    text-align: center;
    margin: 2%;
}
.w3slink a {
    font-size: 9px;
    color: brown;
    padding-right: 3%;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navi .ul {
        flex-direction: column;
        width: 100%;
    }

    .navi .ul li {
        margin: 5px 0;
    }

@media (max-width: 480px) {
    .logo img {
        max-width: 80px;
    }

    .navi .ul {
        align-items: center;
    }

}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

.fa:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr auto;
    }

    header .logo {
        justify-self: start;
    }

    header .container {
        display: block;
    }

    header .navi {
        display: none;
    }

    header .navi.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 9vh;
        left: 0;
        background-color: #ffdfe9;
    }

    .bg .profileimage {
        justify-self: center;
    }
}
@media (max-width: 480px) {
    .text h1 {
        font-size: 30px;
    }

    .text p {
        font-size: 18px;
    }

    .btncon {
        display: grid;
        grid-template-columns: 1fr;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
    }

    .fa {
        font-size: 24px
    }
}