body{
	margin: 0;
	background-color: #ffbbd1;
	 font-family: "Poiret One", sans-serif;
  	font-weight: 600;
  	font-style: normal;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	background-color:#ffdfe9;
	height: 10vh;
	border-bottom: solid;
	border-color: brown;

}

header .logo img {
	height: 70px;
	
}

header nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding-right: 50px;
	gap: 50px;

}

header nav ul li {
	margin-left: 20px;
	display: flex;
	justify-content: space-around;
	font-family: "Poiret One", sans-serif;
  	font-weight: bold;
  	font-style:normal ;
}

header nav ul li a {
	display: block;
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;  
	color: brown;
	background-color:#ffafc8 ;
	opacity: 0.8;
}

header nav ul li a:hover {
	opacity: 1; 
}


.bg {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
	padding: 50px 20px;
	background-color:#ffdfe9 ;
	height: 60vh;
}

.bg .backgroundblock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#ffafc8,#FF69B4);
	z-index: -1;
}

.bg .profileimage {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 20px;

}
.profileimage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.text {
	max-width: 800px;
	z-index: 1;
	color:brown ;
}

.text h1 {
	font-size: 70px;
	letter-spacing: 3px;
	margin: 0;
}

 .text p {
	font-size: 20px;
	margin-bottom: 15px;
}

.learnmore {
	display: inline-block;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}




button {
	background-color: white;
	color: brown;
	opacity: 0.8;
	border: none;
	height: 30px;
	padding: 7px;
}

button:hover{
	opacity: 1;
}
.fa {
  padding: 20px;
  font-size: 80px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
	opacity: 1;

}

.fa-facebook {
	color: white;
}

.fa-instagram {
	color: white;
}

.fa-linkedin {
	color: white;
}

.fa-github {
	color: white;
}

.fa-twitter {
	color: white;
}

.icons {
	height: px;
}

footer {
	display: flex;
	justify-content: space-around;
	position: relative;
	top: 10px;
}


